<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход</title>
    <style>
        p.error {
            color: red;
        }
    </style>
</head>
<body>

    <h2>Вход в систему</h2>
    <form method="post">
        {% csrf_token %}
        <div>
            <label for="login">Введите логин:</label>
            <input type="text" name="username" required>
        </div>
        <div style="margin-top: 10px;">
            <label for="password">Введите пароль:</label>
            <input type="password" name="password" required>
        </div>
        <button type="submit" style="margin-top: 10px;">Войти</button>
        {% if error_message %}
        <p class="error">{{ error_message }}</p>
        {% endif %}
    </form>
    
    <div style="margin-top: 20px;">
        <form action="{% url 'product_list' %}" method="get">
            <button type="submit">Войти как гость</button>
        </form>
    </div>
</body>
</html>
