<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список товаров</title>
    <style>
        div.product-item {
            display: grid;
            grid-template-columns: auto;
            border: 1px solid #eee;
            padding: 10px;
            margin-bottom: 10px;
        }
        img {
            height: 100px;
            width: 100px;
        }
        hr {
            margin: 5px;
        }
        .user-info {
            background-color: #f0f0f0;
            padding: 10px;
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    {% if user.is_authenticated %}
    <div class="user-info">
        <p>Вы вошли как: <strong>{{ user.username }}</strong> 
        {% if user.is_superuser %}
            (Администратор)
        {% else %}
            {% for group in user.groups.all %}
                , роль: {{ group.name }}
            {% endfor %}
        {% endif %}
        </p>
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Выйти из учётки</button>
        </form>
    </div>
    {% endif %}

    {% if is_admin or is_manager %}
    <form action="{% url 'order_list' %}" method="get" style="margin-bottom: 10px;">
        <button>Посмотреть заказы</button>
    </form>
    {% endif %}

    {% if is_admin %}
    <a href="{% url 'product_create' %}"><button style="margin-bottom: 20px;">Добавить товар</button></a>
    {% endif %}

    {% if is_manager or is_admin %}
    <form method="get" style="background: #f9f9f9; padding: 15px; border-radius: 5px; margin-bottom: 20px;">
        <div>
            {{ form.query.label }}: {{ form.query }}
        </div>
        <div style="margin-top: 10px;">
            {{ form.sort.label }}: {{ form.sort }}
        </div>
        <button type="submit" style="margin-top: 10px;">Применить</button>
    </form>
    {% endif %}

    {% for product in products %}
    <div class="product-item">
        <span><strong>Имя:</strong> {{ product.name }}</span>
        <span><strong>Артикул:</strong> {{ product.article }}</span>
        <span><strong>Цена:</strong> {{ product.price }}</span>
        <span><strong>Скидка:</strong> {{ product.discount }}%</span>
        <span><strong>Финальная цена:</strong> {{ product.final_price }}</span>
        {% if product.image %}
        <img src="{{ product.image.url }}" alt="{{ product.name }}">
        {% else %}
        <span>(Нет изображения)</span>
        {% endif %}
        
        {% if is_admin %}
        <div style="margin-top: 10px;">
            <a href="{% url 'product_update' product.pk %}">Редактировать</a> |
            <a href="{% url 'product_delete' product.pk %}">Удалить</a>
        </div>
        {% endif %}
        <hr>
    </div>
    {% endfor %}
</body>
</html>
